<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <title>albums</title>
  </head>
  <body>
    <section class='albums'>
      <h2>Albums:</h2>
      <ul>
        {{ #albums }}
        <form class="" action="/delete" method="post">
          <li>
          <h4>Title:</h4>
          <span>{{ title }}</span>
          <h4>Artist:</h4>
          <span> {{ artist }} </span>
          <h4>Year:</h4>
          <span> {{ year }} </span>
          <h4>Genre(s):</h4>
          <span> {{ genre }} </span>
          <h4>Did it go platinum?</h4>
          {{ #platinumStatus }}
          <span> yes </span>
          {{ /platinumStatus }}
          {{ ^platinumStatus }}
          <span> no </span>
          {{ /platinumStatus }}
          <h4>Copies sold:</h4>
          <span> {{ copiesSold }} </span>
          <button type='submit' name="_id" class='delete' value={{ _id }}> Delete Album </button>
          <button type='submit' name="edit" class='edit'> <a href="/edit/{{ _id }}"> Edit Album  </a></button>
        </li>
        </form>
        {{ /albums }}
      </ul>
    </section>
  </body>
</html>
